<div class="container">
    <div class="data-inventory">
        <a routerLink="/data-inventory">
            <h2>Data Inventory</h2>
            <p>
                Upload your personal file...<br />
                or create a new one!
            </p>
            <img src="assets/data-inventory.svg" />
        </a>
    </div>

    <div class="pipeline">
        <a routerLink="/pipeline">
            <h2>Pipeline</h2>
            <p>Create your own personal pipeline today!</p>
            <img src="assets/pipeline.svg" />
        </a>
    </div>
</div>
