.container {
    display: grid;
    grid-template-areas: "data-inventory pipeline";
    justify-items: center;

    height: 100%;
    align-items: center;

    a {
        box-shadow: 0 1px 10px 3px hsl(0deg 0% 0% / 19%);
        display: grid;
        place-items: center;

        inline-size: 86%;
        height: fit-content;
    }

    .data-inventory,
    .pipeline {
        display: grid;
        place-items: center;

        h2 {
            padding-block-start: 5rem;
        }
    }
    img {
        width: 57%;
    }
    .data-inventory {
        grid-area: data-inventory;
    }

    .pipeline {
        grid-area: pipeline;
    }
}
