<nz-modal
    [nzBodyStyle]="style"
    nzCentered
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    nzTitle="Process Menu"
    nzFooter=" "
    (nzOnCancel)="handleHide()"
    nzWidth="80rem"
>
    <ng-template #modalContent>
        <div class="grid">
            <app-card
                title="Select"
                description="select or remove some columns from your dataset"
                (click)="addNode(NodeType.Selector)"
            ></app-card>
        </div>
    </ng-template>
</nz-modal>
