<div class="wrapper">
    <div (click)="changeCollapseState()">
        <i [class.collapsed]="isCollapse" nz-icon nzType="double-right" nzTheme="outline"></i>
    </div>
    <section *ngIf="pipelineService.previewContent">
        <nz-table class="table table-striped">
            <thead>
                <tr>
                    <th *ngFor="let key of keys">{{ key }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of values">
                    <td *ngFor="let cell of row">{{ cell }}</td>
                </tr>
            </tbody>
        </nz-table>
    </section>
    <p *ngIf="!pipelineService.previewContent">nothing!</p>
</div>
