<nz-modal
    [nzBodyStyle]="style"
    nzCentered
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    nzTitle="Source"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleHide()"
>
    <ng-template #modalContent>
        <ng-container>
            <app-upload-input></app-upload-input>
            <!--            <nz-tabset nzCentered>-->
            <!--                <nz-tab nzTitle="Create Source"><app-input></app-input></nz-tab>-->
            <!--                <nz-tab nzTitle="Connect to a source"><app-connection></app-connection></nz-tab>-->
            <!--            </nz-tabset>-->
        </ng-container>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="link" (click)="handleHide()">cancel</button>
        <button nz-button nzType="primary" (click)="handleOk()">ok</button>
    </ng-template>
</nz-modal>
