<div class="wrapper">
    <p>by this box set your configs and clean your data</p>
    <br />
    <h3>Process you can config:</h3>
    <ul>
        <li>select columns</li>
        <li>remove columns</li>
        <li>filter rows</li>
        <li>write advance custom query</li>
    </ul>
    <br />
    <h3>Pipeline Details</h3>
    <ul>
        <li><span>number of nodes: </span>{{ pipelineService.nodes.length }}</li>
    </ul>
    <br />
    <h3>How to set configs</h3>
    <p>just add or click on a process, then you can set configs by this box</p>
</div>
