nz-page-header {
    background-color: var(--color-gray-100);

    padding-block: 1rem;

    border-block-end: 0.1rem solid var(--color-gray-85);

    nz-page-header-extra {
        display: flex;
        align-items: center;

        nz-space {
            > a {
                block-size: fit-content;
            }

            > button {
                block-size: fit-content;
            }
        }

        &:nth-child(3) {
            inline-size: 14.5rem;

            font-size: 1.6rem;
        }
    }
}
