nz-page-header {
    background-color: var(--color-gray-95);
    box-shadow: var(--box-shadow-subtle);
    padding-block: 1rem;

    nz-page-header-extra {
        display: flex;
        align-items: center;

        nz-space {
            > a {
                block-size: fit-content;
            }

            > button {
                block-size: fit-content;

                font-size: 2rem;
            }
        }

        &:nth-child(3) {
            inline-size: 14.5rem;
            font-size: 2rem;
        }
    }
}
