<nz-modal
    [nzBodyStyle]="style"
    nzCentered
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    nzTitle="Destination"
    nzFooter=" "
    (nzOnCancel)="handleHide()"
>
    <ng-template #modalContent>
        <ng-container>
            <nz-tabset nzCentered>
                <nz-tab nzTitle="Create destination"><app-destination-input></app-destination-input></nz-tab>
                <nz-tab nzTitle="Connect to a destination"><app-connection></app-connection></nz-tab>
            </nz-tabset>
        </ng-container>
    </ng-template>
</nz-modal>
