<nz-modal
    [nzBodyStyle]="style"
    nzCentered
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    nzTitle="Destination"
    nzFooter=" "
    (nzOnCancel)="handleHide()"
>
    <ng-template #modalContent>
        <ng-container>
            <nz-tabset nzCentered>
                <nz-tab nzTitle="Create destination"><app-destination-input></app-destination-input></nz-tab>
                <nz-tab nzTitle="Pick a destination"
                    ><app-source-table></app-source-table>
                    <button nz-button nzType="primary" (click)="handleHide()">ok</button></nz-tab
                >
            </nz-tabset>
        </ng-container>
    </ng-template>
</nz-modal>
