.search-box {
    padding: 0.8rem;
}

.search-box input {
    display: block;

    inline-size: 18.8rem;

    margin-block-end: 0.8rem;
}

.search-box button {
    inline-size: 9rem;
}

.search-button {
    margin-inline-end: 0.8rem;
}
