.wrapper {
    overflow: auto;

    block-size: 100%;

    padding: 1rem 2rem;

    border-block-end: 0.1rem solid var(--color-gray-85);

    > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}
