@import "src/styles";

.wrapper {
    @include sidebar-node-wrapper;

    > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}
