<div class="wrapper">
    <!--    <div nz-row [nzGutter]="8">-->
    <!--        <div nz-col [nzSpan]="8">-->
    <!--            <app-card-->
    <!--                title="Select"-->
    <!--                description="select or remove some columns from your dataset"-->
    <!--                (click)="addNode(NodeType.Selector)"-->
    <!--            ></app-card>-->
    <!--        </div>-->
    <!--        <div nz-col [nzSpan]="8">-->
    <!--            <app-card-->
    <!--                title="Numbers"-->
    <!--                description="Performs multiple transformations (format, compare, round) on records containing numbers."-->
    <!--            ></app-card>-->
    <!--        </div>-->
    <!--        <div nz-col [nzSpan]="8">-->
    <!--            <app-card-->
    <!--                title="Type"-->
    <!--                description="Performs multiple transformations (format, compare, round) on records containing numbers."-->
    <!--            ></app-card>-->
    <!--        </div>-->

    <!--        <div nz-col [nzSpan]="8">-->
    <!--            <app-card-->
    <!--                title="Type"-->
    <!--                description="Performs multiple transformations (format, compare, round) on records containing numbers."-->
    <!--            ></app-card>-->
    <!--        </div>-->

    <!--        <div nz-col [nzSpan]="8">-->
    <!--            <app-card-->
    <!--                title="Type"-->
    <!--                description="Performs multiple transformations (format, compare, round) on records containing numbers."-->
    <!--            ></app-card>-->
    <!--        </div>-->

    <!--        <div nz-col [nzSpan]="8">-->
    <!--            <app-card-->
    <!--                title="Type"-->
    <!--                description="Performs multiple transformations (format, compare, round) on records containing numbers."-->
    <!--            ></app-card>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
