.wrapper {
    background-color: var(--color-gray-100);

    overflow: auto;

    display: grid;
    grid-template-areas:
        "box img"
        "menu menu";

    inline-size: 100%;
    height: 100vh;

    .landing-page-pic {
        grid-area: img;

        inline-size: 85%;
        aspect-ratio: 6/6;
        object-fit: cover;

        margin-inline-start: auto;
    }

    .box {
        grid-area: box;

        display: flex;
        flex-direction: column;
        gap: 6rem;

        block-size: 100vh;

        padding: 2rem;

        nav {
            ul {
                display: flex;
                gap: 2rem;

                button {
                    padding-block-end: 3rem;

                    font-size: 2rem;
                }

                button:hover {
                    border-block-end: 0.25rem solid;
                }
            }
        }

        .texts {
            align-self: center;
            justify-self: center;

            display: grid;
            gap: 1rem;

            h1 {
                color: var(--color-primary);

                font-size: 6rem;
                font-weight: bold;
            }

            p {
                color: var(--color-gray-40);
            }

            button {
                align-self: center;
                justify-self: center;

                block-size: 4rem;
                inline-size: 13rem;
            }
        }
    }

    .menu {
        grid-area: menu;

        display: grid;
        grid-template-areas: "data-inventory pipeline";

        block-size: 100vh;
        inline-size: 100%;
    }
}
