.wrapper {
    background-color: var(--color-gray-100);

    overflow: auto;

    height: 100vh;

    nav {
        background-color: var(--color-gray-100);

        padding-block-start: 1rem;
        padding-inline-start: 1rem;

        ul {
            display: flex;
            gap: 2rem;

            button {
                padding-block-end: 3rem;

                font-size: 2rem;
            }

            button:hover {
                border-block-end: 0.25rem solid;
            }
        }
    }

    main {
        display: grid;
        grid-template-areas:
            "box img"
            "menu menu";
        grid-template-rows: 100vh auto;
        place-items: center;

        inline-size: 100%;

        .landing-page-pic {
            grid-area: img;

            inline-size: 100%;
            aspect-ratio: 6/6;
            object-fit: cover;

            margin-inline-start: auto;
        }

        .box {
            grid-area: box;
            align-self: center;

            display: flex;
            flex-direction: column;
            gap: 6rem;

            padding: 2rem;

            .texts {
                align-self: center;
                justify-self: center;

                display: grid;
                gap: 1rem;

                h1 {
                    color: var(--color-primary);

                    font-size: 6rem;
                    font-weight: bold;
                }

                p {
                    color: var(--color-gray-40);
                }

                button {
                    align-self: center;
                    justify-self: center;

                    block-size: 4rem;
                    inline-size: 13rem;
                }
            }
        }

        .menu {
            grid-area: menu;

            block-size: 100vh;
            inline-size: 100%;
        }
    }
}
