<div class="container">
    <app-card title="Alireza Binesh" description="Front end" src="assets/team/Alireza.webp"></app-card>
    <app-card title="MohammadHossein Hosseini" description="Back end" src="assets/team/seyed.webp"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.webp"></app-card>
    <app-card title="Hossein Masoodi" description="Back end" src="assets/team/Hosein.webp"></app-card>
    <app-card title="Matin Moradi" description="Back end" src="assets/team/Matin.webp"></app-card>
    <app-card title="Aref Habibi" description="Front end" src="assets/team/Aref.webp"></app-card>
    <app-card title="Sajad Soltanian" description="Back end" src="assets/team/sajad.webp"></app-card>
</div>
