<div class="container">
    <app-card
        title="Alireza Binesh"
        description="Front end"
        src="assets/team/Alireza.webp"
        githubLink="https://github.com/Alirezab-2000"
        emailLink="alireza.binesh.2000@gmail.com"
    ></app-card>

    <app-card
        title="MohammadHossein Hosseini"
        description="Back end"
        src="assets/team/seyed.webp"
        githubLink="https://github.com/smhh22"
        emailLink="s.m.m.m.h2013@gmail.com"
    ></app-card>

    <app-card
        title="Diba Mirshafiei"
        description="Front end"
        src="assets/team/Diba.webp"
        githubLink="https://github.com/dibaaamir"
        emailLink="dibaaamir80@gmail.com"
    ></app-card>

    <app-card
        title="Sajad Soltanian"
        description="Back end"
        src="assets/team/sajad.webp"
        githubLink="https://github.com/Soltaniant"
        emailLink="s.soltaniant@gmail.com"
    ></app-card>

    <app-card
        title="Matin Moradi"
        description="Back end"
        src="assets/team/Matin.webp"
        githubLink="https://github.com/matinmoradi80"
        emailLink="matinmoradi110@gmail.com"
    ></app-card>

    <app-card
        title="Aref Habibi"
        description="Front end"
        src="assets/team/Aref.webp"
        githubLink="https://github.com/ArefHbb"
        emailLink="haref3460@gmail.com"
    ></app-card>

    <app-card
        title="Hossein Masoodi"
        description="Back end"
        src="assets/team/Hosein.webp"
        githubLink="https://github.com/hosseinmasoodi"
        emailLink="hosseinmasoodiii@gmail.com"
    ></app-card>
</div>
