<div class="container">
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
    <app-card title="Diba Mirshafiei" description="Front end" src="assets/team/Diba.jpg"></app-card>
</div>
